/* Tools component */

aside {
    width: 40px;
    margin: 5px;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        ".";
}

.grid-item {
    margin: 2px;
    border-radius: 5px;
    background-color: #282C34;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.icon{
    width: 25px;
    height: auto;
}

/* End of Tools component */